page-home {
    #imgHeader{
        width: 979px; 
        min-height: 150px; 
        object-fit: cover;
        margin-right: auto;
        margin-left: auto;
        margin-top: 75px;
        display: block;
    }
    #backTitle{
        position: absolute;
        top : 20px;
        left : 50%;
    }
    #textTitle{
        background: white;
        padding: 10px;
        position: relative;
        text-align: center;
        font-family : cursive;
        left: -50%;
        border : 4px solid rgba(0, 0, 0, 1);
    }
    #content{
        max-width: 979px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }
    .roundyContain{
        display: flex;
        flex-direction: column;
        margin-right: 4px;
    }
    .roundy{
        height : 30px; 
        width : 30px; 
        object-fit: cover; 
        border-radius: 99px; 
        margin-top : 7px;
    }
    .roundy:hover{
        background: red;
    }
    .roundyLink{
        margin-left: auto;
        margin-right: auto;
    }
    .roundyText{
        margin: 0px;
        font-size: 0.6em;
        color: grey;
        text-align: center;
    }
        
}
.split{
        display: flex;
    }
    .flex{
        flex : 1;
    }